body {
    background-color: #212121;
    color: black;
}

.left-info {
    width: 50%
}
.right-ifo{
    width: 50%
}
.right-content{
    padding-left: 10%;
    width: 100%
}

.flat-form {
  background: darkgray;
  margin: 25px auto;
  width: 390px;
  height: 340px;
  position: relative;
}

.fixitlater{
    margin-top: -0.7%;
}