{% extends 'wrapper.html'%}
{% block content%}
    <div class="container">
        <div class="flat-form">
         <h1 class="text-center">Логин</h1>
         <hr>
            <form action="login" method="post" class="text-center m-5">
                {% csrf_token %}
				        <input type="text" class="form-control mb-4" name="username" placeholder="Логин">
				        <input type="password" class="form-control mb-4" name="password" placeholder="Пароль">
				        <button type="submit" class="btn amber darken-4" type="button">Вход</button>
            </form>
        </div>
    </div>
{% endblock %}
